<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvé </title>
    <body>
        <div>
            <div>
                <div>
                    <h1>
                        404
                    </h1>
        
                    <span>
                        La page n'as pas été trouvé !
                    </span>
        
                    <div>
                        <a type="button" href="http://129.88.104.232:3000/Sauvetage"> Retour </a>
                    </div>
                </div>
            </div>
        </div>
</html>